body {
    font-family: 'Kalpurush', Arial, sans-serif !important;
   background-color: aquamarine;
}
a{
    text-decoration: none;
}
li,ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.main-area-bg{
    background-color: #fff;
    padding: 0;
}
.top-bar{
    height: 30px;
    background-color:#4D0100 ;
}
/* header area start */
header{
    /* background-color: #ccc; */
}
.header-bg{
    padding: 10px 0;
    border-bottom: 5px solid #992C2C;
    border-top: 5px solid #992C2C;
 }
.institute_title {padding: 32px 0px;
}
.institute_title h1 {
    font-weight: 700;
    padding: 0px;
    margin: 0px;
}
.institute_title p {
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.comunicating_address p {
    line-height: 5px;
}
.comunicating_address {
    margin: 0;
    padding: 53px 10px;
    /* text-align: right; */
}
/* header area end */

/* slider area start */
.slider-item{
    background-image: url(../img/slider-1.jpg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 350px;
}
.owl-dots {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    text-align: center;
  }
/* slider area end */
 /* main menu area start */
 .mainmenu {
    background: #ddd;
}

.mainmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mainmenu ul li {
    display: inline;
    /* border-right: 1px solid #000; */
    position: relative;
}

.mainmenu ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 18px 25px;
    color: #000;
    font-size: 16px;
}
.mainmenu ul li a:hover {
    background: #fff;
    transition: all 1s;
}
.mainmenu ul li:hover ul.sub-menu {
    color: maroon;
    visibility:visible ;
    z-index: 99;
    opacity: 1;
}

.mainmenu ul li ul.sub-menu {
    position: absolute;
    top: 41px;
    left: 0;
    background: #fff;
    width: 200px;
    list-style: none;
    padding: 0;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}

.mainmenu ul li ul.sub-menu li {
    display: block;
    border-bottom: 1px solid #ddd;
}

.mainmenu ul li ul.sub-menu li a {
    display: block;
    padding: 10px 10px;
}

 .slicknav_menu {
    display:none;
} 

 /* main menu area end */
/* main news scroll area start */
.news_scroll_area_content{
    font-size: 20px;
    background-color:#E6E7E8 ;
}
/* main news scroll area end */

/* main section area start */
section.main_section_area {
    margin-top: 10px;
}
/* main section area end */

/* content area start  */
.content {
 
}
.pm_messege_part{
    background: #ccc;
    padding: 10px;
}
.notice_board{
    padding: 30px 30px 70px 30px;
    background-color: #ddd;
    margin: 5px 0;
    position: relative;
}

.notice_board ul li:before {
    content: '\f35a';
    font-family:"Font Awesome 5 Free";;
    float: left;
    margin-left: -1.5em;
    color: #0074D9;
  }
  a.notice_button {
    border-radius: 10px;
    position: absolute;
    padding: 8px 20px;
    background-color: #0074D9;;
    bottom: 7px;
    right: 50px;
    color: #fff;
}
/* institute addressing area start */
.institute_addressing {
    background: #ccc;
    padding: 20px 20px;
}


.institute_addressing_title {
    background: #4B33A4;
    color: #fff;
    padding: 7px 0px 0px 7px;
}
/* institute addressing area end */
/* covid diabetic area start */
.covid_diabetic_area_top img {
    width: 100%;
}
.covid_diabetic_area_bottom {
    background: #ddd;
    text-align: center;
    padding: 30px;
}

.covid_diabetic_area_bottom a {
    border: 1px solid #000;
    padding: 7px 20px;
    border-radius: 5px;
   
}

/* covid diabetic area end */

/* inner main part area start */
.card-body.card-left-img img {
    float: left;
    padding-right: 40px;
}

.card-left-img {
    background: #F5F5F5;
}

.card-body ul {
    text-align: left;
}
.card-body ul li:before {
    content: '\f152';
    font-family:"Font Awesome 5 Free";;
    float: left;
    margin-left: -1.5em;
    color: #000;
  }
  .main_part_box .card{
      margin-bottom: 15px;
  }
/* inner main part area end */

/* content area end  */

/* sidebar area start */
.sidebar_name_title {
    background: #FFE603;
    padding: 10px 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
.sidebar_card {
    margin-bottom: 5px;
}
.quiz_part{
    height: 350px;
}
a.quiz_part_button {
    border: 1px solid red;
    padding: 10px 20px;
    color: #000;
}

a.quiz_part_button:hover {
    background: darkred;
    color: #fff;
}
/* sidebar area start */

/* footer area start */
.footer_area {
    background-color: #ccc;
    border-top: 5px solid #992C2C;
    padding: 25px 0;
    text-align: center;
    margin: 0px;
}
/* footer area end */